.new-password {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.new-password .container {
    width: 600px;
    padding: 20px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 55%;
}

.new-password label {
    position: relative;
    display: block;
    text-align: left;
    font-size: small;
    font-weight: 200;
    color: gray;
    margin-top: 20px;
}

.new-password input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
  
}

.new-password .info-pass {
    margin-top: 4%;
    color: gray;

}

.new-password button {

    background-color: rgb(86, 155, 235);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    width: 50%;
    height: 5vh;
    margin-top: 10px;
}

.new-password button:hover {
    background-color: rgb(9, 102, 208);
}



@media screen and (max-width: 480px) {

    .password-reset {
        font-family: "Arial", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;

    }

    .new-password .container {
        width: 370px;
        padding: 20px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        text-align: center;
        height: 100%;
        margin-top: 30%;
    }

    .pass-input{
        width: 200%;
    }

    .button-container {
        display: flex;
        flex-direction: row;
    }

    .new-password button {

        background-color: rgb(86, 155, 235);
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 12px;
        width: 100%;
        height: 50px;

    }

    .password-reset button:hover {
        background-color: rgb(9, 102, 208);
    }

    .password-reset .back-login {
        /* background-color: #4caf50; */
        background-color: rgb(86, 155, 235);
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 12px;
        width: 70%;
        height: 5vh;
    }

    .password-reset .back-login:hover {
        background-color: rgb(9, 102, 208);
    }

    .info-pass {
        display: none;
    }

}